/* STYLE LOCATION VOITURE PROJET */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body 
{
    background-color: #fff;
}

/* Login/Signup Form Style */
.logf 
{
    color: #F5F3F4;
    padding: 1.8rem;
    background-color: #E5383B;
}

.fullheight 
{
    height: 100vh;
}

.formparts 
{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 0.5rem;
    margin-bottom: 1.8rem;
}

.ptitle 
{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.8rem;
}

.logb
{
    font-family: Akshar, sans-serif;
    padding: 0.2em;
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    color: #E5383B;
    font-size: 1.2em;
    border-radius: 0;
}

.logb:hover
{
    border: 1px solid #fff;
    background-color: #fff;
    color: #161a1d;
}

.logf .formparts input
{
    font-size: .8em;
    color: #F5F3F4;
    font-family: Akshar, sans-serif;
    background-color: transparent!important;
    border-radius: 0;
    border: 1px solid #F5F3F4;
}

.logf .fhr
{
    border-top: 1px solid #D3D3D3;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.signul
{
    text-align: center;
    display: block;
    color: #F5F3F4;
    font-family: Akshar, sans-serif;
    font-size: 1.1rem;
    text-decoration: underline;
}

.signul:hover
{   
    color: #161a1d;
}

/* AdminDash Style */

/* Home Page Design */
nav
{
    background-color: #161A1D;
    margin-bottom: 1rem;
}

nav ul.na
{
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    font-size: 17px;
    padding: 0;
}

nav ul.na li
{
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    font-family: Montserrat, sans-serif;
    color: #E5383B;
    font-weight: 300;
}

nav ul.na li a
{
    color: white;
    margin-left: 10px;
}

nav ul.na li:hover
{
    background-color: #E5383B;
    color: white;
}

.dptitle
{
    margin: 0;
    font-size: 3em;
    padding: 0.5em 1em;
    color: white;
}

#titlepart
{
    background: #161A1D;
}

/* Modif Page Design */
.ct
{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
    color: #161A1D;
}

ul.list-group
{
    margin-bottom: 1rem;
}

.dmc
{
    color: #E5383B;
    float: right;
    margin-left: 15px;
}

.dmc:hover
{
    color:#161a1d;
}

.aj
{
    color: #E5383B;    
}

.aj i
{
    margin-right: 5px;   
}

ul.list-group li.list-group-item
{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #161A1D;
    border-color: #D3D3D3;
    border-radius: 0;
}

ul.list-group li.list-group-item::first-letter, .modf .formparts label::first-letter
{
    font-weight: 700;
    color: #E5383B;
}

.modf
{
    margin: 1rem 0;
    border: 1px solid #D3D3D3;
    background: white;
    padding: 0.75rem 1.25rem;
}

.modf .logb
{
    font-family: Roboto, sans-serif;
    padding: 1em;
    border: 1px solid #D3D3D3;
    font-size: 1rem;
}

.modf .formparts label
{
    color: #161A1D;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.modf .formparts input
{
    color: #161A1D;
    font-family: Roboto, sans-serif;
    border: 1px solid #D3D3D3;
}

/* Voiture Page Design */
.card
{
    border: 0;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

.card-body 
{
    padding: 0.5rem;
    border: 1px solid #d3d3d3;
}

.card-img, .card-img-top 
{
    border: 1px solid #D3D3D3;
}

.card-title {
    font-family: 'MONTSERRAT', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
    color: #E5383B;
}

.card-body p
{
    color: #161A1D;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    opacity: .7;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-body .dmc
{
    margin: 0;
    padding: 5px;
}

.caraj
{
    color: #E5383B;
    padding: 1rem;
    border: 1px solid #D3D3D3;
}

@media (max-width: 576px)
{
    .logf 
    {
        border-radius: 0;
    }

    nav
    {
        position: static;
    }

    nav ul.na
    {
        flex-direction: column;
    }
}